h1 {
  color: black;
  font-size: 200;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  color: black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
#foto {
  width: 750px;
  height: 450px;
  color: white;
  font-size: large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(83, 2, 83);
  border: 2px solid black;
  padding: 20px;
}
#gustos {
  width: 750px;
  height: 150px;
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(83, 2, 83);
  border: 2px solid black;
  padding: 20px;
}
#perfil {
  width: 750px;
  height: 300px;
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(83, 2, 83);
  border: 2px solid black;
  padding: 20px;
}
